/*-------------------/
  @ Fonts
/-------------------*/

/* Archive */

@font-face {
    font-family: 'archivo_regular';
    src: url('../media/fonts/archivo_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_medium';
    src: url('../media/fonts/archivo_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_thin';
    src: url('../media/fonts/archivo_thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_bold';
    src: url('../media/fonts/archivo_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_italic';
    src: url('../media/fonts/archivo_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Input Mono */

@font-face {
    font-family: 'input_mono_regular';
    src: url('../media/fonts/input_mono_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('../media/fonts/input_mono_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'input_mono_thin';
    src: url('../media/fonts/input_mono_thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Playfair */

@font-face {
  font-family: 'playfair_regular';
  src: url('../media/fonts/playfair_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_bold';
  src: url('../media/fonts/playfair_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_italic';
  src: url('../media/fonts/playfair_italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font */
  --font: 'archivo_regular'; 
  --font_b: 'archivo_bold'; 
  --font_m: 'archivo_medium'; 
  --font_t: 'archivo_thin'; 
  --font_i: 'archivo_italic'; 
  /* Serif */
  --serif: 'playfair_regular'; 
  --serif_m: 'playfair_italic'; 
  --serif_b: 'playfair_bold'; 
  --serif_i: 'playfair_italic'; 
  /* Serif */
  --mono: 'input_mono_regular'; 
  --mono_m: 'input_mono_medium'; 
  --mono_t: 'input_mono_thin'; 
  --mono_b: 'input_mono_medium'; 
}