/*-------------------/
  @ Styleguide
/-------------------*/

:root { 
  --color_1: #72dec2; 
  --color_2: #51a196; 
  --color_3: #316067; 
}

.fg_audio { color:var(--color_1); }
.fg_visual { color:var(--color_2); }
.fg_research { color:var(--color_2); }

.bg_audio { background-color:var(--color_1); }
.bg_visual { background-color:var(--color_2); }
.bg_research { background-color:var(--color_2); }
