/*-------------------/
  @ Main
/-------------------*/

body { font-family: 'archivo_regular'; background:#000; padding-top:15px;}
yu { display: block }
wr { display:block; max-width:900px; margin:0px auto; }
photo, .photo { display: block;background-position: center; background-size:cover; transition: all 150ms; }
b { font-weight:bold; }
i { font-style:italic }
a {}
list { display: block }
list ln { display: block }
code { display: block }

#hd { background:#f4f4f4; position: relative; height: calc(100vh - 15px) }
#hd > h1 { position: absolute;bottom: 20px;font-size: 24px;max-width: 350px;left: calc(50vw - 450px);line-height: 30px;margin-top: 10px;margin-left:80px; }
#hd > h1 a { font-family: 'archivo_medium' }
#hd > icon { width:60px; height:60px; display: block; position: absolute;bottom:20px;left:calc(50vw - 450px); background-size:contain; background-image:url(../media/badge/nataniev.svg); }
#hd > photo { position: absolute; top:0px; left:0px; width:100vw; height:calc(100vh - 115px); background-position: center; background-size:cover; transition: all 150ms; background-color:black;}
#hd > a { position: fixed;display: block;top: 30px;width: 180px;height: 90px;z-index: 200;background-image: url(../media/icon/logo.svg);background-repeat: no-repeat;background-size: contain;background-position-y: center;left: calc(50vw - 450px); -webkit-filter: invert(100%);filter: invert(100%);}
#hd > input { position: fixed;border-radius: 100px;top: 60px;color: white;line-height: 16px;padding: 6px 20px;width: 120px;font-size: 12px;right: calc(50vw - 450px);font-family: 'archivo_bold';text-transform: capitalize;border: 1.5px solid white;background: transparent;margin-top:-2px}
#hd.no { height:240px; }
#hd.no > a { -webkit-filter: invert(0%);filter: invert(0%); }
#hd.no > input { color:black; border:1.5px solid black;}
#hd.no photo { opacity: 0; height:0px; }
#hd.si photo { opacity: 1 }

#monitor { height: 50px;min-width: 200px;position: absolute;bottom: 25px;right: calc(50vw - 450px); transition: all 150ms}
#monitor bar { display: block; height:10px; width:1px; background:black; position: absolute; bottom:0px; transition: all 450ms}
#monitor.active { opacity: 1 }
#monitor.inactive { opacity: 0 }

#md { background:#f4f4f4; }
#md wr { max-width: 900px; margin:0px auto; border-top:1px solid #ccc; padding: 45px 0px; }
#md wr p { font-size:20px; margin-bottom: 30px; display: block; max-width: 500px;line-height: 30px }
#md wr p b { font-family: 'archivo_bold'; font-weight: normal; }
#md wr p a { border-bottom: 1px solid #72dec2; display: inline-block }
#md wr h2 { font-family: 'archivo_bold'; font-size:26px; text-transform: capitalize; margin-bottom: 30px; line-height: 30px }
#md wr h2 a { text-decoration: underline; }
#md wr h3 { font-family: 'archivo_bold'; font-size:16px; text-transform: capitalize; margin-bottom: 20px; line-height: 20px }
#md wr yu.term a.photo { width: 100%;height: 420px; border-radius: 4px; margin-bottom:30px;max-width: 700px }
#md wr yu.term p {  }
#md wr list { margin-bottom:30px;max-width: 600px }
#md wr list ln { font-family: 'input_mono_regular'; font-size:12px; line-height: 20px; margin-left:30px; margin-bottom:10px; }
#md wr list ln:before { content:"∙"; position: absolute; margin-left:-25px; }
#md wr list ln a { font-family: 'input_mono_medium'; display: inline-block; }
#md wr code { font-family: 'input_mono_regular'; font-size:12px; background:white; padding:10px 15px; max-width: 600px; margin-bottom:30px; }
#md wr code ln { display: block; line-height: 20px }

#md wr sb { display: block; float:right; width:200px; line-height: 20px; font-size:12px; margin-bottom:45px}
#md wr sb list { margin-bottom:30px; line-height: 14px }
#md wr sb list ln { margin-bottom: 0px }
#md wr sb list ln:before { content:""; }
#md wr sb list ln a { font-family: 'archivo_medium'; display: block; padding:0px 30px; }
#md wr sb list ln a:hover { background:#ddd }
#md wr sb list ln a.parent { font-family: 'archivo_bold'; color:#aaa;}
#md wr sb list ln a.sibling { font-family: 'archivo_medium' }
#md wr sb list ln a.active { font-family: 'archivo_bold'; }
#md wr sb list ln a.children { padding-left:45px; }

#fd { background:black; color:white; }
#fd wr { padding:60px 0px; font-size:14px; line-height: 16px; color:#999;}
#fd wr a { font-family: 'archivo_bold';  }
#fd wr a:hover { color:#fff; opacity: 1 }
#fd wr a.icon { background-position: center center;background-size: cover ;display: inline-block;width: 30px;height: 30px;opacity: 0.4;float: right;-webkit-filter: invert(100%);filter: invert(100%);margin-left: 10px; }
#fd wr a.icon.twitter { background-image:url(../media/icon/twitter.png); }
#fd wr a.icon.github { background-image:url(../media/icon/github.png); }
#fd wr a.icon.rotonde { background-image:url(../media/icon/rotonde.svg); }
#fd wr a.icon.nataniev { background-image:url(../media/icon/oscean.png); }