/*-------------------/
  @ Main
/-------------------*/

body { font-family: 'archivo_regular'; background:#000; padding-top:15px; overflow-x: hidden; transition: opacity 150ms; opacity: 1 !important}
yu { display: block }
wr { display:block; max-width:900px; margin:0px auto; }
photo { display: block;background-position: center; background-size:cover; transition: all 150ms; }
b { font-weight:bold; }
i { font-style:italic }
a { cursor: pointer; }
list { display: block }
list ln { display: block }
code { display: block; white-space: pre }
svg { stroke-width: 10;stroke: white;stroke-linecap: round; }
info { display: block }
note { display: block }
note i { font-style: normal; }
media { display: block; width:100%; height:100%; background-size:cover; background-position: center }
t { display: inline }

#view.loading { opacity: 0 }
#view.ready { opacity: 1; transition: opacity 250ms }

#oscean { transition: opacity 50ms, background-color 500ms; background-color: #f4f4f4; }

#header { position: relative; min-height: 155px; transition: all 250ms}
#header #logo { position: fixed;display: block;top: 15px;width: 180px;height: 90px;z-index: 200;background-image: url(../media/icon/logo.svg);background-repeat: no-repeat;background-size: contain;background-position-y: center;left: 30px; }
#header #logo a { display:block; width:100%; height:100%;}
#header #logo.sticky { position: absolute;bottom: 18px;top: initial; }
#header #photo { position: relative; top:0px; left:0px; width:100vw; max-height:calc(100vh - 135px); background-position: center; background-size:cover; transition: all 150ms; min-height:115px;}
#header #photo media { min-height:calc(100vh - 135px);}
#header #photo.hide { opacity: 0; transition: opacity 50ms }
#header #photo.show { opacity: 1; transition: opacity 250ms }
#header #info { display: block;position: absolute;bottom: 30px;color: white;font-size: 12px;left: 30px;line-height: 16px; opacity: 1; transition: opacity 250ms,bottom 250ms}
#header #info b { font-weight: normal; font-family: 'archivo_bold' }
#header #info a:hover { text-decoration: underline; }
#header #info #title { display: inline-block; vertical-align: top}
#header #info #glyph { display: inline-block; width:35px; height:35px; margin-right:10px;vertical-align: top; fill:none; stroke:white; stroke-width:7.5; stroke-linecap: round}
#header #info.ghost { opacity: 0; bottom:35px; }
#header #menu { position: fixed;top: 45px; right: 45px;}
#header #menu #search { color: white;line-height: 16px;padding: 8px 20px 8px 0px;font-size: 12px;font-family: 'archivo_bold';text-transform: capitalize;border-right: 1.5px solid white;background: transparent;margin-top: -2px;text-align: right; transition: all 250ms; width:120px; float:left; }
#header #menu #search:hover,#header #menu #search:focus { color:black; background:white; cursor:pointer; border-radius: 2px; padding-right:15px; }
#header #menu #activity { display: block; float:left; line-height: 30px; font-size: 12px; font-family: 'archivo_medium' }
#header #menu #activity a { display: inline-block; margin-left:15px; color:white; padding-left:35px; background-size:contain; background-position: left center; background-repeat: no-repeat; }
#header #menu #activity a#diaries { background-image:url(../media/icon/diary.svg); }
#header #menu #activity a#logs { background-image:url(../media/icon/log.svg); }
#header #menu #activity a:hover { text-decoration: underline; }
#header #menu.sticky { position: absolute;bottom: 50px;top: initial; }

#core { background:#f4f4f4;position: relative;z-index: 9000; padding-bottom:1px; }

#sidebar { display: inline-block;padding: 50px 30px 60px 30px;width: 200px;position: relative;height: 100%;margin-right: 0px}
#sidebar #bref > h1 { font-size: 26px;line-height: 30px;margin: 0px 0px 30px;font-family: 'archivo_medium'; max-width: 400px}
#sidebar #bref > h1 a { font-family: 'archivo_bold' }
#sidebar #bref > h1 b { font-family: 'archivo_medium_italic'; font-weight: normal; }
#sidebar #bref > h2 { font-size: 20px;margin: 0px auto;display: block;line-height: 25px;text-transform: uppercase;margin-bottom: 30px;font-family: 'archivo_light';}
#sidebar #bref > h2 a:hover { text-decoration: underline; }
#sidebar #bref > h2 .links { margin: 30px 0px; }
#sidebar #bref > h2 .links a { font-size: 11px;margin-bottom: 2px;background: #000;color: white;font-family: 'archivo_bold';padding: 0px 15px;line-height: 30px;display: inline-block;border-radius: 30px;margin-right: 10px; text-transform: uppercase }
#sidebar #bref > h2 .links a:hover { background:#72dec2; text-decoration: none; }
#sidebar #bref > h3 { display: block;margin-top:1px; margin-bottom: 30px }
#sidebar icon { display: block;background-image: url(../media/badge/nataniev.svg);background-repeat: no-repeat;background-position: center center;background-size: 100px 100px;background-color: white;width: 150px;height: 150px;margin-bottom: 45px}
#sidebar icon.hide { transition: opacity 50ms; opacity: 0; height:0px; margin-bottom:0px; }
#sidebar icon.show { transition: opacity 150ms, height 250ms opacity: 1;  }

#content { display: inline-block;padding: 45px 30px 30px;margin: 0px auto;vertical-align: top;max-width: calc(100% - 370px);width: 100% }
#content > p:first-child { font-size: 32px;line-height: 40px;max-width: 480px  }
#content p { font-size: 22px;display: block;max-width: 600px;line-height: 30px;font-family: 'archivo_regular';margin: 0px 0px 30px }
#content p b { font-family: 'archivo_bold'; font-weight: normal; }
#content p i { font-family: 'archivo_italic'; font-style: normal; }
#content p a { margin-bottom: -2px;display: inline-block;font-family: 'archivo_medium';position: relative;border-bottom: 1.5px solid #000; line-height: 90%; transition: all 250ms }
#content p a:hover { border-bottom-color: #ccc }
#content p a.external:hover:after { color:#ccc; }
#content p a.external { border-bottom-style: dotted; }
#content p a.external:after { color:#000; }
#content p a.redlink { border-bottom: 1.5px solid red }
#content p a.redlink:hover { background:red; }
#content h2 { font-family: 'archivo_light';font-size: 26px;line-height: 30px;max-width: 400px;margin-bottom:30px; position: relative;text-transform: uppercase;line-height: 50px}
#content h2 a { text-decoration: none !important; border-bottom: 0px !important; font-size:36px;letter-spacing: -2px }
#content h2.book { font-family: 'frank_ruhl_light';max-width: 700px !important;font-size: 40px;margin-bottom:30px;line-height: 45px; text-transform: capitalize;letter-spacing: -1px}
#content h2.book a { border-bottom:0px;  }
#content h2 a { display: inline-block; border-bottom:1.5px solid #000; text-decoration: none }
#content h3 { font-family: 'archivo_medium';font-size: 30px;text-transform: capitalize;line-height: 30px;max-width: 600px;margin-bottom: 30px;}
#content h3.book { font-family: 'frank_ruhl_regular'; text-transform: uppercase  }
#content h3 a { display: inline-block; border-bottom:1.5px solid #000; text-decoration: none}
#content hs { font-size: 14px;font-family: 'archivo_medium';margin-top: -20px;display: block;margin-bottom: 30px;max-width: 300px;line-height: 20px; }
#content hs a { border-bottom:0px; font-family: 'archivo_bold'; }
#content hs a:hover { text-decoration: underline; }
#content iframe { margin-bottom:45px; border-radius: 3px; overflow: hidden; max-width:700px;}
#content yu.term a.photo { width: 100%;height: 370px;border-radius: 4px;max-width: 600px;margin: 0px 0px 45px }
#content yu.term p {  }
#content yu.container yu.container { padding: 0px 30px;margin-bottom: 45px;border-left: 1.5px solid black }
#content table { overflow: hidden;border-collapse: separate;font-family: 'input_mono_regular';min-width: 50%;background: #e9e9e9;padding: 20px 30px; font-size:12px; line-height:20px; margin-bottom:30px}
#content table tr th { font-family:'input_mono_medium'; text-align:left; padding-top:10px; padding-bottom:10px;}
#content table tr > * { padding-right:15px; padding-left:5px; }
#content table tr b { font-family: 'input_mono_medium'; font-weight: normal; }
#content list { margin-bottom:45px; font-family: 'frank_ruhl_regular'; position: relative; max-width: 700px; font-size:18px}
#content list ln { font-family: 'archivo_regular';line-height: 25px; position: relative; margin-bottom:15px}
#content list ln.parent { display: block;font-family: 'archivo_bold';line-height: 50px;}
#content list ln a { text-decoration: underline; }
#content list ln b { font-family: 'archivo_bold';font-weight: normal; }
#content list.summary { }
#content list.summary ln { width: calc(20% - 45px);display: inline-block;padding-right: 30px;min-width: 120px}
#content list.summary ln h2 { font-family: 'archivo_light';font-size: 46px;border-bottom: 1.5px solid black;color: black;letter-spacing: -5px;line-height: 70px;}
#content list.summary ln h2 hs { display: inline-block;font-family: 'input_mono_medium';font-size: 12px;letter-spacing: 0px;text-transform: uppercase;margin-left: 10px;line-height: 0px;position: absolute;top: 45px;left: 80px; }
#content list.summary ln h2 hs.sub { position: absolute;left: 80px;top: 30px;color: white }
#content list.mini {}
#content list.mini ln { font-family: 'input_mono_regular'; font-size:13px; line-height: 25px; margin-bottom:5px; position: relative;}
#content list.mini ln b { font-family: 'input_mono_medium' }
#content quote { display: block;margin-bottom: 30px; }
#content quote p { font-size: 16px;line-height: 24px;margin-bottom: 5px;font-family: 'archivo_regular'; padding-right:60px; }
#content quote p.text { font-size:24px; font-family: 'archivo_italic'; max-width:400px; line-height: 30px }
#content quote p.text:before { content:"\""; }
#content quote p.text:after { content:"\""; }
#content quote p.attrib { font-size:14px; line-height: 30px; }
#content quote p.attrib:before { content:"— "; color:#999; }
#content quote p a { border-bottom: 0px; text-decoration: underline; }
#content quote p a:hover { text-decoration: none }
#content quote p a:after { content: ""; width:0px;}
#content quote p b { font-family: 'archivo_bold' }
#content quote h3 b { font-family: 'archivo_bold'; font-weight: normal; }
#content quote h3 a { margin-bottom: -1.5px }
#content list.tidy { columns:3; }
#content list.tidy ln { border-top: 0px;line-height: 20px;font-size:13px;margin-left:0px;padding:0px; margin-bottom: 0px; font-family: 'archivo_regular' }
#content list.tidy ln a { text-decoration: none; font-family: 'archivo_bold' }
#content list.tidy ln a:hover { text-decoration: underline; }
#content code { font-family: 'input_mono_regular';font-size: 12px;background: #e9e9e9;padding: 20px 30px;max-width: 600px;margin-bottom: 30px; }
#content code ln { display: block; line-height: 20px }
#content code ln a { font-family: 'input_mono_medium'; text-decoration: underline;}
#content code ln b { font-family: 'input_mono_medium'; font-weight: normal; }
#content code ln comment { color:#999; }
#content code.inline { display: inline;padding: 5px 10px;font-size: 16px;background: #fff; border-radius: 3px }
#content note { font-size: 20px;line-height: 30px;font-family: 'archivo_medium_italic';margin-bottom: 45px; max-width: 400px}
#content note a { font-family: 'archivo_bold_italic'; text-decoration: underline;}
#content note b { font-weight: normal; font-family: 'archivo_bold_italic';}
#content img { max-width: 700px;display: block;border-radius: 3px;margin:0px 0px 30px; width:100%; }
#content photo { display: block;height: 300px;width: 100%;max-width: 600px;margin-bottom: 30px;border-radius: 2px }
#content gallery { display: block; max-width: 700px; height:350px; position: relative; overflow: hidden; margin-bottom:30px; overflow: hidden; border-radius: 2px }
#content gallery photo { position: absolute;background-size: cover;height: 100%;max-width:100% }
#content gallery.p2 photo:nth-child(1) { top:0px;left:0px;width:50%;height:100%; }
#content gallery.p2 photo:nth-child(2) { top:0px;left:calc(50% + 1px);width:calc(50% - 1px);height:100%; }
#content gallery.p3 photo:nth-child(1) { top:0px;left:0px;width:50%;height:100%; }
#content gallery.p3 photo:nth-child(2) { top:0px;left:calc(50% + 1px);width:calc(50% - 1px);height:50%; }
#content gallery.p3 photo:nth-child(3) { top:calc(50% + 1px);left:calc(50% + 1px);width:calc(50% - 1px);height:calc(50% - 1px); }
#content center { display: block; max-width: 600px;}
#content center img { display: inline-block;max-height: 200px;width: initial}
#content mini { display: block;font-size: 11px;margin-bottom:30px;color:#999;line-height: 30px; font-family: 'input_mono_regular'; max-width: 700px }
#content mini b { font-weight: normal; font-family: 'input_mono_medium' }
#content mini a { background: #fff;color: #000;padding: 0px 10px;display: inline-block;line-height: 25px;border-radius: 2px }
#content mini a:hover { background:#000; color:white; }
#content mini t.right { float:right;  }
#content mini t.right a { background:none; padding:0px }
#content mini t.right a:hover { color:black; text-decoration: underline; }

#navi { margin-left: 290px;max-width: 600px;font-size: 13px;width: calc(100% - 100px); border-top:1.5px solid black; padding-top:30px; padding-left:100px; position: relative;}
#navi.empty { display: none }
#navi svg { stroke: black;fill: none;padding: 15px;width: 40px;height: 40px;display: block; position: absolute; left:0px;}
#navi table { margin-bottom:45px;border-collapse: collapse; max-width: 500px}
#navi table tr {}
#navi table tr.head th { border-right: 1.5px solid black; min-width: 150px }
#navi table tr.head td { padding-left:15px; }
#navi table tr.head th a { font-family: 'archivo_bold'; padding-right:15px; }
#navi table tr th,#navi table tr td { padding:0px; vertical-align: top; line-height: 20px; color:#999; }
#navi table tr th a,#navi table tr td a { color:black; }
#navi table tr th a:hover,#navi table tr td a:hover { text-decoration: underline; }
#navi table tr th { text-align: left }
#navi table tr td a { font-family: 'archivo_medium' }
#navi table tr td b { font-family: 'archivo_bold'; color:black; font-weight: normal; }
#navi table tr t.depth2:after { content:" •"; }
#navi table tr t.depth2:last-child:after { content:""; }
#navi table tr t.depth1 a { font-family: 'archivo_regular' }
#navi table tr t.depth1:after { content:" •"; }
#navi table tr t.depth1:last-child:after { content:""; }
#navi table table { margin-bottom: 0px }

#footer { background: #fff;color: black;padding: 0px 30px; clear:both; }
#footer wr { padding: 60px 0px;font-size: 12px;line-height: 20px;color: #000;margin: 0px;max-width:100%}
#footer wr a { font-family: 'archivo_bold';  }
#footer wr a:hover { color:#000; opacity: 1; text-decoration: underline; }
#footer wr #clock { float:left; margin-right:20px; fill:none; stroke-width:1; stroke-linecap:butt; stroke:black; border: 1.5px solid black;height:35px; }
#footer a:hover { cursor: pointer }
#footer a.icon { background-position: center center;background-size: cover ;display: inline-block;width: 30px;height: 30px;float: right;margin-left: 10px; margin-top:5px; }
#footer a.icon:hover { opacity: 0.7 }
#footer a.icon.twitter { background-image:url(../media/icon/twitter.png); }
#footer a.icon.github { background-image:url(../media/icon/github.png); }
#footer a.icon.rotonde { background-image:url(../media/icon/rotonde.svg); }
#footer a.icon.nataniev { background-image:url(../media/icon/oscean.png); }
#footer svg:hover { cursor: pointer; }
#footer svg path { stroke-width:1; margin-top:-2px; margin-left:-2px; stroke:black; }

@media (max-width: 950px) {
  body #activity { display: none !important; }
  body #sidebar { width: calc(100% - 60px);float: none;clear: both;margin: 0px auto;position: relative;margin-bottom: 30px;padding: 45px 30px 0px; }
  body #sidebar #bref h1 { margin-bottom:0px; }
  body #sidebar #bref h2 { display: none }
  body #sidebar icon { position: absolute;top: 45px;left: 30px;width: 100px;height: 100px;display: block !important; border-right:1.5px solid black; padding-right:45px; border-bottom:0px; }
  body #sidebar h3 { display: none }
  body #content { padding:0px 30px; max-width: calc(100% - 60px) }
  body #navi { margin-left:30px; margin-right:30px; }
}

