* { margin:0; padding:0; box-sizing:border-box; font-style:normal; text-decoration:none; color:black }
body { padding:30px } 
body > * { margin-bottom:30px }
body > * > * { margin-bottom:30px }
a:hover, ::selection { background-color:#000; color:#fff; text-decoration:none } 
header { float:left } 
header #logo { background:none } 
nav { margin:0 0 30px } 
nav ul { padding:0; margin:0 45px 30px 0; float:left } 
nav ul li { list-style-type:none; white-space:pre } 
nav ul li a:hover { background:black; color:white } 
main { max-width:600px; clear:both }
main h2 { max-width:400px } 
main h4 { font-family:monospace } 
main ul { margin:30px; }
main p { line-height:25px } 
main a:before{ content:"{"; }
main a:after{ content:"}"; }
main a.external:before{ content:"["; }
main a.external:after{ content:"]"; }
main q { font-family:serif; font-size:18px; font-style:italic; display:block } 
main img { max-width:100%; display:block } 
footer { border-top:1.5px solid; padding:30px 0 0 0; clear:both } 
footer img { margin:0 0 -10px 0 } 
