/*-------------------/
  @ Main
/-------------------*/

body { font-family: 'archivo_regular'; background:#000;}
yu { display: block }
wr { display:block; max-width:900px; margin:0px auto; }
photo { display: block; }
b { font-weight:bold; }
i { font-style:italic }
a {}

#hd { background:#f4f4f4; position: relative; height: 100vh }
#hd > h1 { position: absolute;top: calc(100vh - 90px);font-size: 24px;max-width: 350px;left: calc(50vw - 450px);line-height: 30px;margin-top: 10px }
#hd > h1 a { font-family: 'archivo_medium' }
#hd > photo { position: absolute; top:0px; left:0px; width:100vw; height:calc(100vh - 100px); background-position: center; background-size:cover;}
#hd > a { display: block;position: absolute;top: 15px;width: 180px;height: 90px;z-index: 200;background-image: url(../media/icon/logo.svg);background-repeat: no-repeat;background-size: contain;background-position-y: center;left: calc(50vw - 450px); -webkit-filter: invert(100%);filter: invert(100%);}
#hd > input {position: absolute;border-radius: 100px;color: black;line-height: 16px;padding: 9px 20px;width: 120px;font-size: 12px;top:42px;right:calc(50vw - 450px);font-family: 'archivo_medium';text-transform: capitalize }

#md { background:#f4f4f4; }
#md wr { max-width: 900px; margin:0px auto; border-top:1px solid #ccc; padding: 45px 0px; }
#md wr p { font-size:20px; margin-bottom: 60px; display: block; max-width: 500px;line-height: 30px }
#md wr p b { font-family: 'archivo_bold'; font-weight: normal; }

#fd { background:black; color:white; }
#fd wr { padding:60px 0px; font-size:14px; line-height: 16px; color:#999;}
#fd wr a { font-family: 'archivo_bold';  }
#fd wr a:hover { color:#fff; opacity: 1 }
#fd wr a.icon { background-position: center center;background-size: cover ;display: inline-block;width: 30px;height: 30px;opacity: 0.4;float: right;-webkit-filter: invert(100%);filter: invert(100%);margin-left: 10px; }
#fd wr a.icon.twitter { background-image:url(../media/icon/twitter.png); }
#fd wr a.icon.github { background-image:url(../media/icon/github.png); }
#fd wr a.icon.rotonde { background-image:url(../media/icon/rotonde.svg); }
#fd wr a.icon.nataniev { background-image:url(../media/icon/oscean.png); }