* { margin:0;padding:0;box-sizing:border-box;text-decoration:none;color:black }
body { padding:30px;font-family:serif } 
body > * { margin-bottom:30px }
body > * > * { margin-bottom:30px }
table td, table th { vertical-align:top;padding:2.5px 5px }
header { float:left;margin: 5px 30px 0 0 } 
nav { margin:0 0 30px } 
nav ul { padding:0;margin:0 45px 30px 0;float:left } 
nav ul li { list-style-type:none;white-space:pre } 
nav ul li a:hover { background:black;color:white } 
main { max-width:624px;clear:both }
main figure:first-child img { margin-left:-30px;max-width:calc(100vw - 15px);width:900px }
main figure figcaption { font-size:14px;max-width:400px }
main pre { border: 1px solid black;padding:15px }
main h2 { max-width:400px } 
main h4 { font-style: italic;font-weight: normal } 
main ul, main ol { margin: 0 30px 30px 30px }
main ul ul { margin-bottom:0 }
main p { line-height:25px } 
main a:hover, ::selection { background-color:#000;color:#fff;text-decoration:none } 
main a:before{ content:"{" }
main a:after{ content:"}" }
main q { font-family:serif;font-size:18px;font-style:italic;display:block;max-width: 400px } 
main img { max-width:100%;display:block;margin:0 0 10px } 
main svg { max-width:100%;display:block;margin:0 0 10px } 
footer { border-top:1.5px solid;padding:30px 0 0 0;clear:both } 
footer img { margin:0 0 -10px 0;width:30px } 
/* Exceptions */
main a.external:before{ content:"[" }
main a.external:after{ content:"]" }