/*-------------------/
  @ Reset
/-------------------*/

*           { margin:0;padding:0;border:0;outline:0;border-spacing:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*:focus     { outline: none}