body { padding:20px; background-image: url(../media/assets/grid.svg); background-color:#000; font-family: 'input_mono_medium'; font-size:9px; background-size:20px 20px;}

svg#riven { padding:50px 10px; width:200%; height:150%; position: fixed; left:0px; top:0px; }
svg#riven.magnet { transition: all 250ms }
svg#riven g.node {}
svg#riven g.node text { text-anchor: start; stroke:none; font-family: 'input_mono_medium'; font-size:9px; }
svg#riven g.node .port { fill:#fff; stroke-width:0; }
svg#riven g.node .port.input, svg g.node .port.answer { fill:white; }
svg#riven g.node.mesh rect { stroke:#555; fill:none; }
svg#riven g.node .glyph { stroke-width:10; stroke:#fff; }
svg#riven g.node rect { stroke:white; fill:none; stroke-width:2;}
svg#riven g.node:hover path.glyph { stroke:#000; stroke-width:12; }
svg#riven g#routes circle { fill:#555; }
svg#riven circle { stroke:none; }
svg#riven path { stroke:white; fill:none; stroke-width:2;stroke-linejoin: round; stroke-linecap: round  }
svg#riven rect.fill { fill:#111; }
svg#riven text { fill:white;  text-transform: uppercase; }
svg#riven path.route { stroke:#555; stroke-width:2; stroke-dasharray: 50,5; }
svg#riven path.route.request { stroke-dasharray: 5,5; stroke:#555;  }
svg#riven path.route.output { stroke:#72dec2; }
svg#riven path.route.bidirectional { stroke:#33; stroke-dasharray: 0,4;  }
svg#riven path.route { stroke-dashoffset: 100; animation: dash 5s linear infinite; }
svg#riven path.route.request { stroke-dashoffset: -50; animation: dash 5s linear infinite; }
svg#riven path.route.entry { stroke:#fff;}

@keyframes dash { to { stroke-dashoffset: 0;} }