body#riven { padding:20px; background-image: url(../media/assets/grid.svg); background-color:#111; font-family: 'input_mono_medium'; font-size:9px; background-size:20px 20px;}
body#riven svg { padding:50px 10px; width:200%; height:200%; position: fixed; left:0px; top:0px; }
body#riven svg circle { stroke:none; }
body#riven svg.magnet { transition: all 250ms }
body#riven svg g.node { fill:#777; }
body#riven svg g.node text { text-anchor: middle }
body#riven svg g.node .port { fill:#111; stroke:white; stroke-width:1; }
body#riven svg g.node .port.input, svg g.node .port.answer { fill:white; }
body#riven svg g.node.mesh rect { stroke:#333; }
body#riven svg g.node .glyph { stroke-width:10; stroke:#999; }
body#riven svg g.node rect { stroke:#ccc; }
body#riven svg path { stroke:white; fill:none; stroke-width:1;stroke-linejoin: round; stroke-linecap: round  }
body#riven svg rect { stroke:#fff;  stroke-width:1; fill:none; }
body#riven svg rect.fill { fill:#111; }
body#riven svg text { fill:white;  text-transform: uppercase; stroke:none; }
body#riven svg g.routes {}
body#riven svg g.routes circle { stroke:none; }
body#riven svg path.route { stroke:#555; stroke-width:2; stroke-dasharray: 50,3; }
body#riven svg path.route.request { stroke-dasharray: 5,5;  }
body#riven svg path.route.bidirectional { stroke:#33; stroke-dasharray: 0,4;  }
body#riven svg g.node:hover { cursor: pointer; }
body#riven svg g.node:hover .glyph { stroke:#fff; }

body#riven path.route { stroke-dashoffset: 100; animation: dash 5s linear infinite; }
body#riven path.route.request { stroke-dashoffset: -50; animation: dash 5s linear infinite; }
body#riven @keyframes dash { to { stroke-dashoffset: 0;} }