/*-------------------/
  @ Styleguide
/-------------------*/

:root { 
  --f_high: #fff; 
  --f_med: #999; 
  --f_low: #444; 
  --background: #000;
  --stroke: 1px; 
  --wire: 2px;
}

/*-------------------/
  @ Main
/-------------------*/

body { padding:20px; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='10' cy='10' r='0.5' fill='#555'></circle></svg>"); background-color:#000; font-family: 'input_mono_medium'; font-size:9px; background-size:20px 20px;}

svg#riven { padding:50px 10px; width:200%; height:150%; position: fixed; left:0px; top:0px;}
svg#riven.magnet { transition: all 250ms }

/* Node */
svg#riven g#nodes g.node {}
svg#riven g#nodes g.node text { text-anchor: start; stroke:none; font-family: 'input_mono_medium'; font-size:9px; }
svg#riven g#nodes g.node.mesh rect { stroke:var(--f_low); fill:none; }
svg#riven g#nodes g.node .glyph { stroke-width:10; stroke:#fff; }
svg#riven g#nodes g.node rect { stroke:white; fill:black; stroke-width:1; }
svg#riven g#nodes g.node:hover rect { fill:white; cursor: hand; }
svg#riven g#nodes g.node:hover path.glyph { stroke:#000; stroke-width:12; }
svg#riven g#nodes g.node.meshnode rect {fill:none; stroke:var(--f_low); stroke-width:2;}
svg#riven g#nodes g.node.meshnode .port { display: none; }

/* Ports */
svg#riven g#nodes g.node g.port {  }
svg#riven g#nodes g.node g.port path { fill:var(--background); stroke: var(--f_high); stroke-width: var(--stroke);}
svg#riven g#nodes g.node g.port.in path { fill:var(--f_high); }
svg#riven g#nodes g.node g.port.answer path { fill:var(--f_high); }
svg#riven g#nodes g.node path.glyph { stroke:var(--f_med); fill:none; stroke-width:10; stroke-linejoin: round; stroke-linecap: round  }
svg#riven g#nodes g.node text { fill:var(--f_high); }

/* Route */
svg#riven g#routes {}
svg#riven g#routes path.route { stroke-width:2; stroke:var(--f_low) }
svg#riven g#routes path.route.request { stroke-dasharray: 0,5;  }
svg#riven g#routes path.route.output { stroke:var(--f_high); stroke-dasharray: 20,5; }
svg#riven g#routes path.route.bidirectional { stroke-dasharray: 10,5;  }

@keyframes dash { to { stroke-dashoffset: 0;} }